@import "tailwindcss";

@theme {
  --color-primary: #DA722C;
  --color-primary-light: #FFF0E5;
  --color-secondary: #F2994A;
  --color-background-main: #FFF7F1;
  --color-sidebar-border: #FFD4B8;
  --color-text-title: #DA722C;
  --color-text-main: #333333;
  --color-text-muted: #666666;
}

body {
  @apply bg-background-main text-text-main font-sans;
}


/* Animation */

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.25s ease-out;
}

